.cityPointer{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--darkNavy);
}

.cityPointer div:first-child{
    width: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
}

.cityPointer div:last-child{
    width: 0;
    height: 0;
}

/*############################## TABLET VERSION ##############################*/

@media(min-width:768px) and (max-width:1024px){
    .cityPointer{
        width: 120px;
        height: 40px;
        display: flex;
    }
    
    .cityPointer div:first-child{
        height: 32px;
        font: 700 13px/28px 'SpaceMono-Bold';
        letter-spacing: -0.58px;
    }
    
    .cityPointer div:last-child{
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--orange);
    }
}