#navBar{
    width: 100vw;
    height: 64px;
    max-width: 767px;
    position: relative;
    padding: 0px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url('../../../assets/img/logo.svg') center/75px no-repeat;
}

#mobileNavBar{
    width: inherit;
    height: calc(100vh - 64px);
    max-width: 767px;
    position: absolute;
    z-index: 100;
    top:64px;
    left: 0px;
    background-color: rgba(0,0,0,0.74);
}

.displayed{
    display: block;
}

.hidden{
    display: none;
}

#mobileNavBar-content{
    width: 68%;
    height: inherit;
    padding: 64px 0px 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333A44;
}

#mobileNavBar-content div{
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#desktopNavBar, #desktopNavBar > div{
    height: auto;
    display: none;
    align-items: center;
    justify-content: space-between;
}

#desktopNavBar{
    width: 100vw;
}

#desktopNavBar > div{
    width: 249px;
}

/*############################## TABLET AND DESKTOP VERSION ##############################*/

@media (min-width: 768px) {
    #navBar{
        width: 100vw;
        height: 96px;
        max-width: 1186px;
        padding: 0px 40px 0px 205px;
        background: url('../../../assets/img/logo.svg') 40px 50%/108px no-repeat;
        justify-content: flex-end;
    }
    
    #hamburgerBt{
        display: none;
    }

    .displayed{
        display: none;
    }

    #desktopNavBar, #desktopNavBar > div{
        display: inline-flex!important;
    }
    
}