.question{
    width: 311px;
    height: auto;
    padding: 32px 28px 32px 32px;
    background-color: var(--snow);
}

.question button{
    width: 251px;
    height: 48px;
    padding: 0px 32px 0px 0px;
    margin:0px;
    text-align: left;
    border: none;
    font: 700 18px/24px 'SpaceMono-Bold';
    letter-spacing: -0.8px;
    color: var(--darkNavy);
    transition: opacity 0.3s ease;
}

.chevronUp{
    background: url('./img/chevron-up.svg') right/16px no-repeat;
}

.chevronDown{
    background: url('./img/chevron-down.svg') right/16px no-repeat;
}

@media(hover:hover){
    .question button:hover{
        opacity:0.5;
        cursor:pointer;
    }
}

.question p{
    margin-top: 24px;
}
