#faqs{
    width: inherit;
    max-width: 1110px;
    height: auto;
    display: flex;
    margin: 161px 0px 104px;
    flex-direction: column;
    align-items: center;
    color:var(--darkNavy);
}

.faqTitle{
    margin: 32px 0px;
    font: 700 24px/28px 'SpaceMono-Bold';
    letter-spacing: -1.07px;
}

#faqs > div{
    width: 311px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px) and (max-width:1024px){
    #faqs{
        margin: 120px 0px 120px;
    }
    
    .faqTitle{
        margin: 64px 0px 32px;
        font: 700 40px/48px 'SpaceMono-Bold';
        letter-spacing: -1.79px;
    }
    
    #faqs > div{
        width: 689px;
    }
}

@media(min-width: 1025px){
    #faqs{
        margin: 120px 0px 160px;
    }
    
    .faqTitle{
        margin: 0px;
        font: 700 40px/48px 'SpaceMono-Bold';
        letter-spacing: -1.79px;
    }
    
    #faqs > div{
        width: 1110px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}