footer{
    width: 100vw;
    height: 758px;
    display: flex;
    flex-direction: column;
    margin-top: 500px;
}

#footerTop{
    width: inherit;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkNavy) url('./img/semi-circles.svg') calc(100% + 173px) 162px / 1153px no-repeat;
}

#footerTop h2{
    width: 311px;
    margin: 88px 0px 40px;
    text-align: center;
    color: white;
}

#footerTop div{
    width: 256px;
    display: inline-flex;
    justify-content: space-between;
}

footer button{
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#appStoreBt{
    width: 113px;
    height: 40px;
    background: transparent url('./img/app-store.svg') center/113px no-repeat;
}

#googlePlayBt{
    width: 130px;
    height: 40px;
    background: transparent url('./img/google-play.svg') center/130px no-repeat;
}

#footerBottom{
    width: inherit;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333A44 url('./img/logo-white.svg') 50% 64px / 107px no-repeat;
}

#footerBottom > nav{
    height: 107px;
    margin: 134px 0px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#socialMedia{
    width: 120px;
    display: inline-flex;
    justify-content: space-between;
}
.mediaBt{
    width: 24px;
    height: 24px;
    background: transparent center/24px no-repeat;
}

#facebook{
    background-image: url('./img/facebook.svg');
}

#twitter{
    background-image: url('./img/twitter.svg');
}

#instagram{
    background-image: url('./img/instagram.svg');
}

@media(hover:hover){
    .signUpBt:hover{
        opacity: 0.5;
    }

    .mediaBt:hover{
        opacity: 0.5;
    }
}