@font-face {
    font-family: 'LexendDeca-Regular';
    src: url(../src/assets/fonts/LexendDeca-Regular.woff)format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'SpaceMono-Bold';
    src: url(../src/assets/fonts/SpaceMono-Bold.woff)format('woff');
    font-weight: 700;
}

:root{
    --orange: #FCB72B; /* RGB : rgb(252, 183, 43) HSL : hsl(40, 97%, 58%) */
    --lightOrange: #FFF4DF; /* RGB : rgb(255, 244, 223) HSL : hsl(39, 100%, 94%) */
    --darkNavy: #495567; /* RGB : rgb(73, 85, 103) HSL : hsl(216, 17%, 35%) */
    --dimGrey: #939CAA; /*RGB : rgb(147, 156, 170) HSL : hsl(217, 12%, 62%) */
    --lightGrey: #E5ECF4; /* RGB : rgb(229, 236, 244) HSL : hsl(212, 41%, 93%) */
    --snow: #F2F5F9; /* RGB : rgb(242, 245, 249) HSL : hsl(214, 37%, 96%) */
}

*{
    box-sizing: border-box;
}

body, #root{
    width: 100vw;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    padding: 0px;
    margin: 0px;
    font: 700 40px/40px 'SpaceMono-Bold';
    letter-spacing: -1.79px;
}

h2{
    padding: 0px;
    margin: 0px;
    font: 700 32px/32px 'SpaceMono-Bold';
    letter-spacing: -1.43px;
}

.defaultText{
    font: 400 15px/25px 'LexendDeca-Regular';
}

/*############################## TABLET AND DESKTOP VERSION ##############################*/

@media (min-width: 768px){
    h2{
        font: 700 48px/48px 'SpaceMono-Bold';
        letter-spacing: -2.14px;
    }
}