#homeFeatures{
    width: 100vw;
    height: 2334px;
    margin: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#homeFeatures > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeFeatures > div button{
    margin-top: 32px;
}